*{
    margin: 0px;
    padding: 0px;
}
@media (max-width: 575.98px){
 body{
    background-image: url("IMG_2894.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 }
 }
 div.error{
    width: 50%;
    height: 50%;
    background-color: rgb(225, 225, 225, 0.5);
    pasding: 30px;
 }
 h1{
    color: rgb(19,74,225, 1);
    font-family: Times New Roman;
    font-size: 30px;
 }
}
