*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("IMG_2894.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center
    width: 100%;
    height: 100%;
}
}
div.error{
    width: 50%;
    height: 50%;
    background-color: rgb(225, 225, 225, 0.3);
}
h1{
    color: rgb(19,74,225, 1);
    font-family: Times New Roman;
    font-size: 30px;
}
