*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    height: 100vh;
}
/*mise en forme du haut de la page*/
header{
    background-color: #0c297d;
    display: flex; /*pour alogner tout les elements de l'entete!important!important!important */
    align-items: center; 
    max-height: 80px;
}
/*ajustement de logo*/
.logo-box{
    display: flex;
    flex-direction: row;
}
.box-logo img{
    height: 50px;
    width: 80px;
}
.logo-box h2{
    font-family: Bebas Neue;
    font-size: 0.9em;
    color: black;
}
/*la barre de recherche*/
div.recherche{
    display: flex;
    padding: 0;
    width: 380px;
}
.recherche input{
    width: 100%;
    margin: 0;
    
}