*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    height: 100vh;
}
/*mise en forme du haut de la page*/
header{
    background-color: #0c297d;
    display: flex; /*pour alogner tout les elements de l'entete!important!important!important */
    align-items: center;
    justify-content: center;
    max-height: 90px;
}
/*ajustement de logo*/
.logo-box{
    display: flex;
    align-items: center;
}
img{
    height: 50px;
    width: 80px;
}
.logo-box h2{
    font-family: Bebas Neue;
    font-size: 2em;
    color: white;
}
/*la barre de recherche*/
div.recherche{
    display: flex;
    padding: 0;
    width: 380px;
    border-radius: 30px;
    background-color: #ffffff;
}
.recherche input{
    width: 100%;
    margin: 0;
    border: none;
    padding: 8px;
    background-color: transparent;
    border: none;
}