*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    height: 100vh;
}
/*mise en forme du haut de la page*/
header{
    background-color: #0c297d;
    display: flex; /*pour alogner tout les elements de l'entete!important!important!important */
    align-items: center;
    justify-content: center;
    max-height: 120px;
}
/*ajustement de logo*/
.logo-box{
    display: flex;
    align-items: center;
    position: absolute;
    left: 140px;
}
img{
    height: 50px;
    width: 80px;
    margin-right: 70px;
}
.logo-box h2{
    font-family: Bebas Neue;
    font-size: 1.7em;
    color: white;
}
/*la barre de recherche*/
div.recherche{
    display: flex;
    padding: 0;
    width: 380px;
    border-radius: 30px;
    background-color: #ffffff;
}
.recherche input{
    width: 100%;
    margin: 0;
    border: none;
    padding: 8px;
    background-color: transparent;
    border: none;
    outline: none;
}
.recherche button{
    background-color: transparent;
    color: #26292b;
    border: none;
    padding: 8px;
}
/*les icines d'alerte*/
div.alert{
    display: flex;
    position: absolute;
    right: 100px;
}
div.element{
    display: block;
    text-align: center;
}
.elemnt i{
    color: #f0a51a;
}
div.element p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-seri;
    font-size: 12px;
    color: #f0a51a;
}