*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aliceblue;
}
@media (max-width: 575.98px) {
    
}
li{
    color: black;
    text-decoration: none;
    font-family: Times New Roman;
    display: inline-flex;
}
a{
    text-decoration: none;
}
ul{
    display: inline-flex;
}