*{
    margin: 0;
    padding: 0;
}
:root{
    --bg: #121212;
    --in: #0B69E7;
    --lacof: #ffffff;
    --fnt: rgb(122, 122, 122, 0.30);
    --acol: #0B69E7;
}
@media (prefers-color-scheme: light){
    :root{
        --bg: #ffffff;
        --in: #575353;
        --lacof: #7a7a7a;
        --fnt: transparent;
        --acol: blue;
    }
}
html,
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.con{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    text-align: center;
    font: segoe ui 14px;
    color: var(--lacof);
}
/*proprieté appliquees au haut de la page sur tout les appareils */
img.logo{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    right: 20px
}
nav{
background-color: #0B69E7;
width: 100vw;
height: 80px;
display: flex;
align-items: center;
position: fixed;
z-index: 100;
top: 0px;
left: 0;
right: 0;
}
@media (max-width: 575.95px){
    input{
        height: 30px;
        padding: 10px;
        border: solid 1.5px var(--in);
        border-radius: 15px;
        outline: none;
        width: 85vw;
        background-color: var(--fnt);
    }
}
div.con a{
    font-family: segoe ui;
    font-size: 14px;
    color: var(--acol);
    text-decoration: none;
}
button{
    background-color: #0B69E7;
    font-family: Segoe UI;
    font-weight: bold;
    height: 40px;
    border-radius: 15px;
    width: 90vw;
    border: none;
    font-size: 14px;
}