*{
    margin: 0;
    padding: 0;
}
:root{
    --bg: #121212;
    --in: #0B69E7;
    --col: #ffffff;
    --lofc: #ffffff;
    --inbg: rgb(122, 122, 122, 0.3);
}
@media (prefers-color-scheme: light){
    :root{
        --bg: #ffffff;
        --in: #575353;
        --col: #575353;
        --lofc: #000000;
        --inbg: transparent;
    }
}
html,
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}
img.logo{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    right: 20px
}
nav{
background-color: #0B69E7;
width: 100vw;
height: 80px;
display: flex;
align-items: center;
position: fixed;
z-index: 100;
top: 0px;
}
/* Propriété appliquées a l'ectiture di logo*/
div.lof{
    position: fixed;
    left: 20px;
    font-family: Bebas Neue;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    top: 110px;
    color: var(--lofc);
}
div.slo{
    position: fixed;
    left: 20px;
    top: 145px;
    color: var(--col);
    font-family: system-ui;
    font-size: 14px;
}
/* Mise en forme di formulaire*/
form{
    position: fixed;
    top: 175px;
    width: 100%;
    display: block;
    left: 20px;
}
form div.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    font-family: Segoe UI;
    font-size: 14px;
    color: var(--lofc);
}
input{
    width: 85vw;
    height: 30px;
    padding: 10px;
    border: solid 1.5px var(--in);
    border-radius: 15px;
    background-color: var(--inbg);
    outline: none;
}
/*boutton de validation*/
button{
    width: 90vw;
    height: 40px;
    background-color: #31c410;
    border-radius: 15px;
    border: none;
}
/*au cas ou vois avez deja un compte*/
a{
    color: #0B69E7;
    font: Segoe ui;
    font-size: 14px;
    text-decoration: none;
}
div.info{
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100vw;
    display: flex;
}
p{
    text-align: center;
    color: var(--col);
    font: segeo ui;
    font-size: 14px
}
