*{
    margin: 0;
    padding: 0;
}
    :root{
        --bgcolor: #ffffff; /* couleur du fond par defaut */
        --colordiv: rgb(42, 93, 232, 0.7);/* couleur des div par defaut*/
    }
    body{
        background-color: var(--bgcolor);
        display: block;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
}
    div.contener{
        width: 70vw;
        border: 2px var blue;
        background-color: transparent;
    }
    input{
        border: 2px var(--colordiv); /*couleur de bordures des inouts*/
        border-radius: 30px;
        width: 200px;
        paddind:10px;
        display: block;
    }
    div{
        display: block;
    }
