*{
    margin: 0;
    padding: 0;
}
:root{
    --bg: #121212;
    --in: #575353;
}
@media (prefers-color-scheme: light){
    :root{
        --bg: #ffffff;
        --in: #575353;
    }
}
html,
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}
img.logo{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    right: 20px
}
nav{
background-color: #0B69E7;
width: 100vw;
height: 80px;
display: flex;
align-items: center;
position: fixed;
z-index: 100;
top: 0px;
}
/* Propriété appliquées a l'ectiture di logo*/
div.lof{
    position: absolute;
    left: 30px;
    font-family: Bebas Neue;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}